
@import "bower_components/bootstrap/scss/bootstrap-reboot";
@import "bower_components/bootstrap/scss/bootstrap-grid";
@import "bower_components/bootstrap/scss/utilities";

@import "variables";
@import 'fonts';
@import 'mixins';

@import "../libs/flickity/flickity.min.css";

$blue-light: blue;
.h2, h2 {
	font-size: 2.625rem;
	font-weight: 700;
	line-height: 1.1;
}
a {
	text-decoration: none!important;
}
a:hover {
	color: #01677a;

}
.logo {
	display: inline-block;
	&__img {
		width: 151px;
		height: 69px;
	}
}

.top-panel {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 72px;
	background: $white;
	height: 72px;
	z-index: 20;
	box-shadow: 0px 7px 10px -4px rgba(0,0,0,0.75);
}


.menu {
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0;
	list-style: none;
	padding: 0;
	@media (min-width: 992px) {
		flex-direction: row;
	}
	&__item {
		cursor: pointer;
		display: block;
		font-size: 1rem;
		line-height: 4.5;
		position: relative;
	}
	&__link {
		color: #333;
		text-align: center;
	}
	.sandwich-menu &__link {
		display: block;
	}
	&__subitem {
		line-height: 1;
	}
	&__subitem &__link {
		line-height: 1.5;
		padding: 10px 20px;
		display: block;
		text-decoration: none;
	}
	&__item:hover {
		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			content: '';
			background-color:  #85d2f5;
			height: 5px;
			opacity: 0;
			transition: opacity .3s;
		}
		&:hover {
			text-decoration: none;
			&::before {
				opacity: 1;

			}
		}
	}
	.sandwich-menu &__item{
		width: 100%;
		&:before {
			display: none;
		}
	}
	&__item:hover &__dropdown{
		max-height: 300px;
	}
	&__item:last-child &__dropdown{
		right: 0;
	}
	//вот тут был косяк ....
	// &__item:last-child:hover &__dropdown{
	// 	right: 0;
	// 	width: 200px;
	// }
	&__sub {
		padding-right: 1rem;
	}
	&__icon {
		&:before, &:after {
			content: "";
			position: absolute;
			width: 7px;
			height: 1px;
			margin-top: 1px;
			top: 50%;
			background-color: #000;
			.sandwich-menu & {
				top: 35px;
				margin-right: 20px;
			}
		}
		&::before {
			right: 5px;
			transform: rotate(45deg);
		}
		&::after {
			right: 0;
			transform: rotate(-45deg);
		}
	}
	&__dropdown {
		transition: max-height .2s ease-in-out;
		max-height: 0;
		height: auto;
		overflow: hidden;
		position: absolute;
		top: 71px;
		width: 400%;
		max-width: 280px;
		background-color: #fff;
		padding: 0;
		box-shadow: 0px 7px 10px -4px rgba(0,0,0,0.75);
	}
}

.sandwich-menu {
	z-index: 10;
	display: block;
	position: fixed;
	margin-top: 68px;
	top: 0;
	right: 0; 
	left: 0;
	min-width: 100%;
	height: 0;
	background: #fff;
	overflow-y: scroll;
	box-shadow: 0px 7px 10px -4px rgba(0,0,0,0.75);
	transition: height 0.3s ease;
	.body__active &{
		height: calc(100vh - 68px);
	}
}


.drop-down-sandwich-menu {
	height: auto;
	overflow: hidden;
	max-height: 0;
	padding: 0;
	//данный бордюр портит структуру
	// border: 1px solid #ccc;
	margin: 0 1rem;
	list-style: none;
	transition: max-height .2s ease-in-out;
	&--active {
		max-height: 300px;
	}
	.menu__link {
		display: block;
		&::after {
			display: none;
		}
	}
}
.non-after {
	&::after {
		display: none;
	}
}
.row-range {
	transform: translateY(-2rem);
	margin-bottom: -2rem;
	& [class^="col"] {
		margin-top: 2rem;
	}
}
.section {
	padding: 100px 0;
	position: relative;
	&--pb {
		padding-bottom: 150px;
		@media (min-width: 768px) {
			padding-bottom: 100px;
		}
	}
	&--mini-padding-top{
		padding-top: 50px;
		.row {
			margin-right: auto;
			margin-left: auto;
		}
	}
	&--none-padding-bottom {
		padding-bottom: 0;
	}
	&__title{
		text-align: center;
		margin-bottom: 1rem;
	}
	&__brief{
		font-size: 1.3125rem;
		margin-bottom: 4.375rem;
		&--large-margin{
			margin-bottom: 5.375rem;
			@media (min-width: 768px) {
				margin-bottom: 4.375rem;
			}
		}
	}
	&__text {
		font-size: 1rem;
		font-weight: 400;
	}
	&__bird {
		background: url(/img/bird.png) bottom left no-repeat;
		background-size: contain;
		left: 0;
		bottom: 0;
		width: 300px;
		height: 200px;
		position: absolute;
	}
	&--first {
		background: url(/img/bg.jpg) center no-repeat;
		background-size: cover;
		color: #fff;
		margin-top: 72px; 
		padding-bottom: 45px;
	}
	&--offer {
		background: url(/img/section--offer-bg.png) center no-repeat ;
		background-attachment: fixed;
		background-size: cover;
		color: #fff;
	}
	&--blue {
		background-color: #01a8c6;
		color: #fff;
	}

	&--gray {
		background-color: #fafafa;
	}
	&--footer {
		background-color: #333333;
		.h2 {
			color:  #ffffff;
			font-size: 1.188rem;
			font-weight: bold;
			text-align: left;
			transition: color .3s;
		}
		.text {
			font-size: 1rem;
			font-weight: 400;
			line-height: 2.5;
			text-align: left;
			transition: color .3s;

			&:hover {
				color:  #ffffff;
			}
			&__mobile {
				color:  #ffffff;
				font-size: 1.188rem;
				font-weight: bold;
			}
			&__email {
				color:  #85d3f5;
				font-size: 1.188rem;
				font-weight: bold;
				line-height: 1.105;
				text-decoration: underline;
			}
		}
		.line-mini {
			line-height: 1.4;
		}
	}
}
.footer {

	&__logo {
		margin-top: -30px;

	}
	&__list {
		color:  #aaaaaa;
		list-style-type: none;
		margin-top: 50px;
		padding-left: 0;
		&--mini{
			margin-top: 20px;
		}
	}
	&__link {
		color:  #aaaaaa;
		&:hover {
			text-decoration: none;
		}
	}

}
@mixin input-placeholder {
	&.placeholder { @content; }
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&:-ms-input-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
}

.email-input {
	position: relative;
	margin-top: 30px;
	height: 57.5px;
	&__text {
		outline: none;
		background-color: transparent;
		border: 1px solid #feffff;
		color: #feffff;
		border-radius: 5px;
		width: 100%;
		height: 100%;
		padding-left: 20px;
		@include input-placeholder {
			color:#feffff;
			text-overflow:ellipsis;
		}
	}

	&__submit {
		outline: none;
		position: absolute;
		top: 0;
		right: 0;
		width: 60px;
		height: 100%;
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
		border: none;
		background: url(/img/grupo.png) no-repeat center center, linear-gradient(90deg, #00a8c5 0%, #84d4f5 100%) ;
		background-size: 13px, 100%; 
		&:hover {
			box-shadow: inset 0 0 10px #feffff;
		}
		&:active {
			box-shadow: inset 0 0 10px #000;
		}
	}

}




.main-slider {
	min-width: 100%;
	&__slide {
		min-width: 100%;
		z-index: 10;
	}

	&__title {
		margin-bottom: 2rem;
		font-size: 2rem;
		@media (min-width: 768px) {
			font-size: 2.5rem;
		}
		@media (min-width: 992px) {
			font-size: 3.5rem;
		}
	}
	&__text {
		padding: 0 2rem;
		margin-bottom: 3.5rem;
		font-size: 1rem;
		@media (min-width: 768px) {
			font-size: 1.5rem;
		}
		@media (min-width: 1100px) {
			padding: 0;
		}
	}
	&__button {


	}
	&__owl {
		position: absolute;
		width: 155px;
		height: 182px;
		background: no-repeat center center;
		left: calc(50% - 77.5px);
		bottom: -80px;


	}
	.flickity-prev-next-button {
		.arrow {
			fill: #fff;
		}
		&.previous {
			left: 0;
			@media (min-width: 768px) {
				left: 30px;
			}
			@media (min-width: 992px) {
				left: 30px;
			}
		}
		&.next {
			right: 0;
			@media (min-width: 768px) {
				right: 30px;
			}
			@media (min-width: 992px) {
				right: 30px;
			}
		}
		&:hover {
			background: none;
		}
	}

	.flickity-page-dots {
		width: auto;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
		@media (min-width: 768px) {
			bottom: 40px;
		}
		@media (min-width: 992px) {
			bottom: 80px;
		}
		.dot {
			background: none;
			opacity: 1;
			border: 1px solid #fff;
			&.is-selected {
				background: #fff;
			}
		}
	}
	.container {
		padding-bottom: 55px;

	}


}
.offer {
	padding: 3.125rem 2rem 2.5rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	&__image {
		width: 11rem;
		height: 11rem;
		border-radius: 50%;
		border: 1px solid #cfcfcf;
		display: inline-block;
		margin-bottom: 1.5rem;
		background: center no-repeat;
	}
	&__title {
		font-size: 1.1875rem;
		font-weight: bold;
		margin-bottom: 1.5rem;
	}
	&__text {
		margin-bottom: 2rem;
	}
	&__button {
		&--calc {
			margin: 0 auto;
			margin-top: 30px;
		}
	}
	&--special {
		color: #fff;
		background: linear-gradient(135deg,#01a8c6,#83d4f5);
	}
	&--special &__image {
		border-color: #d9f2fb;
	}
	&--special &__button {
		background: #fff;
		color: #01a8c6;
		text-decoration: none;
	}
}
.forwho {
	text-align: center;
	&__image{
		height: 100px;
		background: center no-repeat;
		background-size: contain;
		margin-bottom: 2rem;
	}
	&__title {
		font-size: 1.1875rem;
		font-weight: bold;
		margin-bottom: 1.5rem;
	}
	&__text {

	}
}
.responds {
	position: relative;
	&__bird {
		background: url(/img/bird2.png) center no-repeat;
		background-size: contain;
		width: 88px;
		height: 124px;
		position: absolute;
		top: -80px;
		left: 20px;
		z-index: 10;
	}
	&__slider {

	}
	&__item {
		width: 100%;
		padding: 0 1rem;

		@media (min-width: 768px) {
			width: calc(100% / 3);
		}
	}
	&__count {
		height: 73px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 90%;
		background-color: #fff;
		position: absolute;
		bottom: 4px;
		left: 50%;
		transform: translateX(-50%);
		@media (min-width: 768px) {
			width: calc(90% / 3);
		}


	}
	& .flickity-prev-next-button {
		top: auto;
		bottom: 0;
		z-index: 10;
	}
	& .flickity-prev-next-button.previous {
		left: 35%;
	}
	& .flickity-prev-next-button.next {
		right: 35%;
	}
}

.respond {
	margin: 2rem 0;
	//margin-right: 2rem;
	text-align: center;
	width: 100%;
	background-color: #fff;
	box-shadow: inset 0 0 0 1px #ccc;

	.is-selected & {

		@media (min-width: 768px) {
			transform: scale(1.1);
		}
	}
	&__image {
		margin: 3.5rem 0 2rem;
		width: 175px;
		height: 175px;
		border-radius: 50%;
		display: inline-block;
		background: center no-repeat;
	}
	&__name {
		font-size: 1.1875rem;
		font-weight: bold;
		margin-bottom: 1.5rem;
	}
	&__text {
		margin-bottom: 3rem;
		padding: 0 2.5rem;
		height: 171px;
		overflow: hidden; 
	}
	&__products {
		border-top: 1px solid #ccc;
		height: 4.5rem;
		padding: 0 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.flickity-prev-next-button {
	background: none;
	&:focus {
		box-shadow: none;

	}
}

.blog-list {
	position: relative;
	&__item {
		width: 100%;
		padding: 0 1rem;
		@media (min-width: 768px) {
			width: calc(100% / 3);
		}
	}
	&__bird {
		position: absolute;
		left: 56px;
		top: -366px;
		width: 74px;
		height: 133px;
		background: url(/img/bird3.png) center no-repeat;
		background-size: cover;
		z-index: 10;
		@media (min-width: 480px) {
			left: 90px;
			top: -305px;
		}
		@media (min-width: 768px) {
			top: -209px;
			left: 60px;
			width: 128px;
			height: 234px;
		}
		@media (min-width: 992px) {
			top: -209px;

		}
	}
	& .flickity-prev-next-button.previous {
		left: -10px;
		background: none;
		@media (min-width: 768px) {
			left: -25px;
		}
		@media (min-width: 992px) {
			left: -50px;
		}
	}
	& .flickity-prev-next-button.next {
		right: -10px;
		background: none;
		@media (min-width: 768px) {
			right: -25px;
		}
		@media (min-width: 992px) {
			right: -50px;
		}
	}
}

.blog {
	border: 1px solid #ccc;
	&__image {
		height: 205px;
		margin-bottom: 1.5rem;
		background-size: cover;
	}
	&__title {
		margin-bottom: 1.5rem;
		padding: 0 2rem;
		font-size: 1.1875rem;
		font-weight: bold;
		white-space: nowrap;
		overflow: hidden; 
		text-overflow: ellipsis; 
	}
	&__text {
		margin-bottom: 3.5rem;
		padding: 0 2rem;
	}
	&__button {
		display: block;
		color: #000;
		line-height: 4.75rem;
		font-size: 1.1875rem; 
		text-align: center;
		border-top: 1px solid #ccc;
		transition: all .3s;
		&:after {
			content: "\203a";
			margin-left: 5px;
			font-size: 1.7rem;
			position: relative;
			top: 3px;
		}
		&:hover {
			text-decoration: none;
			border-color: transparent;
			background-image: linear-gradient(to right,#01a8c6,#83d4f5);
			color: #ffffff;
		}
	}
}

//About 
.breadcrumbs {
	color:  #aaaaaa;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 2.857;
	&__link {
		color:  #aaaaaa;
		&--position {
			color: 	#85d2f5;
			&:hover {
				// color: #aaaaaa !important;

			}

		}
		&:hover {
			color: 	#85d2f5;
			// text-shadow: 0 0 1px black;
			text-decoration: none;
		}
	}
}
.persons-list {
	margin: 30px 0;
	
	@media (min-width: 768px) {
		margin: 60px 0;
	}

}

.person{
	text-align: center;

	&__image {
		display: inline-block;
		border-radius: 50%;
		background-color:  #000000;
		width: 160px;
		height: 160px;
		margin-bottom: 25px;
	}
	&__name {
		font-size: 1.188rem;
		font-weight: 700;
	}
	&__occupation{
		font-size: 1rem;
		font-weight: 400;
		margin-top: 25px;
		margin-bottom: 22px;
	}
	&__text{
		font-size: 0.875rem;
		font-weight: 400;
	}
}


.about-sidebar {

	&__item{
		display: block;
		color: #212529;
		border-radius: 5px;
		border: 1px solid #cccccc;
		background-color:  #ffffff;
		margin-bottom: 30px;
		padding: 0;
		transition: all .3s;
		&:hover {
			text-decoration: none;
			border: 1px solid transparent;
			background: linear-gradient(0deg, #00a8c5 0%, #84d4f5 100%);
			color: #fff;
		}
	}
	&__image{
		background: center center no-repeat / cover;
		min-width: 100%;
		height: 263px;
	}
	&__wrapper {
		padding: 35px 30px;
	}
	&__h1{
		font-size: 1.188rem;
		font-weight: 700;
	}
	&__text{
		font-size: 1rem;
		font-weight: 400;
	}
}
.offer-home {
	flex-wrap: wrap;
}
// offer 
.offer {
	&__photo {
		background: center center no-repeat;
		min-height: 400px;
	}
	&__icon {
		max-width: 100%;
		margin-bottom: 16px;

	}
	&__header {

		&__h2 {
			font-size: 1.5rem;
			font-weight: 700;
			margin-bottom: 40px;
		}
		&__text{
			font-size: 1rem;
			font-weight: 400;


		}
		&__button {
			margin-top: 50px;
			text-align: center;
		}
	}
	&__ip {
		margin-top: 16px;
		text-align: left;
		font-size: 1.188rem;
		font-weight: 700;
	}
	&-item {
		padding: 35px 40px;
		border-radius: 5px;
		border: 1px solid #cccccc;
		transition: background .3s;
		&::before {
			position: absolute;
			content: '';
			right: 14px;
			top: 30%;
			width: 156px;
			height: 190px;
			background:  0px center no-repeat;
			z-index: -1;
			transition: background .3s;
		}
		&:hover{
			background-image:linear-gradient(0deg, #00a8c5 0%, #84d4f5 100%) !important;
			z-index: 0;
			&:before {
				opacity: .3;
				z-index: 1;
			}
		}

		&--1 {
			&::before {
				background: url(/img/offer-item__icon1.png) 0px center no-repeat;
			}
		}
		&--2 {
			&::before {
				background: url(/img/offer-item__icon2.png) 44px center no-repeat;
			}
		}
		&--3 {
			&::before {
				background: url(/img/offer-item__icon3.png) 20px center no-repeat;
			}
		}
		&:hover {
			color: #fff;
			hr {
				background-color: #fff;
			}

		}
		hr {
			background-color: rgb(51, 51, 51);
			margin: 28px 0;
		}
		&__title {
			font-size: 1.188rem;
			font-weight: 700;
			margin-bottom: 28px;
		}
		&__text {
			font-size: 1rem;
			font-weight: 400;
		}
	}
	&__section {
		&__text {
			font-size: 1.313rem;
			font-weight: 400;
			margin-bottom: 50px;
		}
	}
}

// calc

.calc {
	&__cell {
		min-height: 75px;
		&:nth-child(1) {
			display: none;
			@media (min-width: 768px) {
				display: block;
			}
		}
		&:nth-child(2) {
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			border-top: 1px solid #cccccc;
			border-right: 1px solid #cccccc;
			border-left: 1px solid #cccccc;
			@media (min-width: 768px) {
				border-top-right-radius: 0;
			}
		}
		&:nth-child(3) {
			border-top: 1px solid #cccccc;
			border-right: 1px solid #cccccc;
			border-left: 1px solid #cccccc;
			@media (min-width: 768px) {
				border-left: 0px solid #cccccc;
			}
		}
		&:nth-child(4) {
			border-top-right-radius: 0;
			border-top: 1px solid #cccccc;
			border-right: 1px solid #cccccc;
			border-left: 1px solid #cccccc;
			@media (min-width: 768px) {
				border-top-right-radius: 5px;
				border-left: none;
			}
		}
		&:nth-child(5) {
			border-top-left-radius: 0;
			border-top: 1px solid #cccccc;
			border-right: 1px solid #cccccc;
			border-left: 1px solid #cccccc;
			@media (min-width: 768px) {
				border-top-left-radius: 5px;

			}

		}
		&:nth-child(6) {
			padding: 25px 28px;
			border-top: 1px solid #cccccc;
			border-right: 1px solid #cccccc;
			border-left: 1px solid #cccccc;
			@media (min-width: 768px) {
				border-left: none;
			}
		}
		&:nth-child(7) {
			border-top: 1px solid #cccccc;
			border-right: 1px solid #cccccc;
			border-left: 1px solid #cccccc;
		}
		&:nth-child(8) {
			border-top: 1px solid #cccccc;
			border-right: 1px solid #cccccc;
			border-left: 1px solid #cccccc;
			@media (min-width: 768px) {
				border-left: none;
			}
		}
		&:nth-child(9) {
			border-top: 1px solid #cccccc;
			border-right: 1px solid #cccccc;
			border-left: 1px solid #cccccc;
		}
		&:nth-child(10) {
			border-top: 1px solid #cccccc;
			border-right: 1px solid #cccccc;
			border-left: 1px solid #cccccc;
			@media (min-width: 768px) {
				border-left: none;
			}
		}
		&:nth-child(11) {
			border-top: 1px solid #cccccc;
			border-right: 1px solid #cccccc;
			border-left: 1px solid #cccccc;
		}
		&:nth-child(12) {
			border-top: 1px solid #cccccc;
			border-right: 1px solid #cccccc;
			border-left: 1px solid #cccccc;
			@media (min-width: 768px) {
				border-left: none;
			}
		}
		&:nth-child(13) {
			border-top: 1px solid #cccccc;
			border-right: 1px solid #cccccc;
			border-left: 1px solid #cccccc;
		}
		&:nth-child(14) {
			border-top: 1px solid #cccccc;
			border-right: 1px solid #cccccc;
			border-left: 1px solid #cccccc;
			@media (min-width: 768px) {
				border-left: none;
			}
		}
		&:nth-child(15) {
			border-top: 1px solid #cccccc;
			border-right: 1px solid #cccccc;
			border-left: 1px solid #cccccc;
			@media (min-width: 768px) {
				border-bottom: 1px solid #cccccc;
			}
		}
		&:nth-child(16) {
			padding: 25px 28px;
			border-top: 1px solid #cccccc;
			border-right: 1px solid #cccccc;
			border-left: 1px solid #cccccc;
			@media (min-width: 768px) {
				border-left: none;
				border-bottom: 1px solid #cccccc;
			}

		}
		&:nth-child(17) {
			border-left: 1px solid #cccccc;
			border-right: 1px solid #cccccc;
			border-bottom: 1px solid #cccccc;
			border-bottom-left-radius: 0;
			border-left: 1px solid #cccccc;
			@media (min-width: 768px) {
				border-left: 1px solid #cccccc;
				border-bottom-left-radius: 5px;
			}
		}
		&:nth-child(18) {
			border-right: 1px solid #cccccc;
			border-bottom: 1px solid #cccccc;
			border-left: 1px solid #cccccc;
			@media (min-width: 768px) {
				border-left: none;
			}
		}
		&:nth-child(19) {
			border-right: 1px solid #cccccc;
			border-bottom: 1px solid #cccccc;
			border-left: 1px solid #cccccc;
			@media (min-width: 768px) {
				border-left: none;
			}
		}
		&:nth-child(20) {
			border-right: 1px solid #cccccc;
			border-bottom: 1px solid #cccccc;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
			border-left: 1px solid #cccccc;
			@media (min-width: 768px) {
				border-left: none;
				border-bottom-left-radius: 0;
			}
		}
	}
	&__title{
		font-size: 1rem;
		font-weight: 400;
		&--price {
			font-size: 1.5rem;
		}
	}
	&__text{
		color: #aaaaaa;
		&--price {
			font-size: 1.5rem;
		}
	}
	&__flex{
		display: flex;
		justify-content: flex-start;
		padding-left: 25px !important;
		.calc__title{
			margin-top: 5px;
		}
	}
	&__container{
		padding: 25px 28px;
	}
}
.active {
	background: linear-gradient(90deg, #00a8c5 0%, #84d4f5 100%);
	color: #fff;
	.calc__text{
		color: #fff;
	}
}

.price-class{

	position: relative;
	font-size: 1.188rem;
	font-weight: 700;
	width: 100%;
	height: 75px;
	&--low{
		.price-class__text{
			background-image: url(/img/calc__low-cost-icon.png);
		}
	}
	&--economy{
		.price-class__text{
			background-image: url(/img/calc__economy-icon.png);
		}
	}
	&--business{
		.price-class__text{
			background-image: url(/img/calc__business-icon.png);
		}
	}
	

	&__text{
		padding-left: 45px;
		background:  left center no-repeat;
		background-size: contain;
		line-height: 33px;
	}
	&__label{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		cursor: pointer;
	}
	&__radio {
		display: none;
	}
	&__radio:checked + &__label{
		background-image: linear-gradient(90deg, #00a8c5 0%, #84d4f5 100%);
		color: #fff;
	}
}
.checkbox-list {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	align-items: center;
	padding: 0 1rem;
	margin: 0 -1rem;
	&__item {
		margin: 0 1rem;
	}
}
.checkbox {
	padding: 5px 0;
	& input[type=checkbox] {
		display: none;
	}
	& label {
		display: inline-block;
		cursor: pointer;
		position: relative;
		margin-bottom: 0;
		font-size: 1rem;
		font-weight: 400;
		display: flex;
		align-items: center;

		&:before {
			content: "";
			border-radius: 3px;
			width: 1.5rem;
			height: 1.5rem;
			margin-right: .5rem;
			background-color: #85d3f5;
		}
	}
	& input[type=checkbox]:checked + label:before {
		content: "\2713";
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
		font-size: 23px;
		color: #ffffff;
		text-align: center;
		line-height: 19px;
	}
}

@mixin range-track {
	&::-webkit-slider-runnable-track { @content; }
	&::-moz-range-track { @content; }
	&::-ms-track { @content; }
}
@mixin range-thumb {
	&::-webkit-slider-thumb { @content; }
	&::-moz-range-thumb { @content; }
	&::-ms-thumb { @content; }
}
.form {
	&__range {
		padding: 0 1rem;
		
	}
}

.sandwich {
	display: block;
	position: absolute;
	top: -46px;
	right: 1rem;
	font-size: 24px;
	z-index: 102;
	text-decoration: none !important;
	&::before {
		content: "\2630";
		font-size: 24px;
		color: #85d2f5;
		z-index: 100;
	}
	.body__active &::before {
		content: "\2716";
		border: none;
	}
}



.js-bird {
	z-index: 9;
	&__help {
		width: auto;
		min-width: 120px;
		padding: 15px;
		background: #fff;
		color: #000;
		border: 2px solid #85d2f5;
		border-radius: 15px;
		transform: translate(0%, 150px);
		transition: opacity .3s; 
		@media (min-width: 795px) {
			transform: translate(50%, -20%);
			width: 300px;
		}
		// &--1 {
		// 	transform: translate(0px, 100px);
		// }
	}

}
.calc-owl {
	background: url(/img/calc-owl.png) center no-repeat;
	background-size: contain;
	width: 81px;
	height: 125px;
	position: absolute;
	top: -45px;
	left: 85px;
	z-index: 10;
}
#particles-js {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%; 
	height: 100%;
	z-index: 0;
}

.ui-slider-handle {
	position: absolute;
	text-align: center; 
	top: 50%;
	line-height: 25px;
	width: 25px;
	height: 25px;
	transform: translateY(-50%);
	border-radius: 50%;
	background-color: #85d3f5;
	box-shadow: 0px 0px 0px 10px rgba(133, 211, 245, 0.5);
	outline: none;
	font-family: Lato;
	color:  #ffffff;
	font-size: 0.875rem;
	font-weight: 700;
	cursor: pointer;
}
.sliderrange {
	background-color: #cccccc;
	height: 2px;
	transform: translateY(25px);
	&::before {
		content: attr(data-min);
		position: absolute;
		left: 0;
		bottom: -25px;
		color:  #aaaaaa;
		font-size: 0.875rem;
		font-weight: 400;

	}
	&::after {
		content: attr(data-max);
		position: absolute;
		right: 0;
		bottom: -35px;
		color:  #aaaaaa;
		font-size: 0.875rem;
		font-weight: 400;

	}
}
.btn {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #fff;
	vertical-align: middle;
	user-select: none;
	background-image: linear-gradient(to right,#01a8c6,#83d4f5);
	border: none;
	padding: 1.25rem 2rem;
	font-size: 1rem;
	line-height: 1.25;
	border-radius: 5rem;
	transition: all .15s ease-in-out;
	&:hover {
		box-shadow: 0 0 100px 0 #84f5e9;
		color: #fff;
		text-decoration: none;
	}
	&--offer {
		background: #fff;
		color: #01a8c6;
		&:hover {
			color: #01a8c6;
		}
	}
}

// .offer__button {
// 	background: #fff;
// 	color: #01a8c6;
// }

