<div class="about-sidebar">
	<a href="#" class="about-sidebar__item">
		<div class="about-sidebar__image" style="background-image: url(/img/about_sidebar_image.png); "></div>
		<div class="about-sidebar__wrapper">
			<div class="about-sidebar__div">Оффер #1</div>
			<p class="about-sidebar__text">Quisque elementum, magna vel viverra ultricies.</p>
		</div>
	</a>
	<a href="#" class="about-sidebar__item">
		<div class="about-sidebar__wrapper">
			<div class="about-sidebar__div">Phasellus a leo</div>
			<p class="about-sidebar__text">Nunc sem magna, scelerisque quis.</p>
		</div>
	</a>
	<a href="#" class="about-sidebar__item">
		<div class="about-sidebar__wrapper">
			<div class="about-sidebar__div">Suspendisse aliquam ipsum aliquam ipsum sapien</div>
			<p class="about-sidebar__text"></p>
		</div>
	</a>
	<a href="#" class="about-sidebar__item">
		<div class="about-sidebar__wrapper">
			<div class="about-sidebar__div">Donec augue nisi, lacinia</div>
			<p class="about-sidebar__text">Nunc sem magna.</p>
		</div>
	</a>
</div>