<section class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-6 text-center">
				<div class="section__title h2">Калькулятор прокси</div>
				<div class="section__brief">Aliquam cursus lorem vitae dictum maximus. Mauris eu neque eget lorem rhoncus lobortis ut eget mi. Sed ultrices augue enim, et viverra felis fermentum vitae.
				</div>
			</div>
		</div>
		<div class="row text-center calc no-gutters">
			<div class="col-12 col-md-3 calc__cell">
				<div class="calc-owl js-bird"></div>
			</div>
			<div class="col-12 col-md-3 calc__cell">
				<div class="price-class price-class--low">
					<input name="radio__name" id="radio1" type="radio" class="price-class__radio">
					<label  for="radio1"  class="price-class__label">
						<span class="price-class__text">Low Cost</span>
					</label>

				</div>
			</div>
			<div class="col-12 col-md-3 calc__cell">
				<div class="price-class price-class--economy ">
					<input name="radio__name" id="radio2" type="radio" class="price-class__radio" checked>
					<label  for="radio2"  class="price-class__label" >
						<span class="price-class__text">Economy Class</span>
					</label>

				</div>

			</div>
			<div class="col-12 col-md-3 calc__cell">
				<div class="price-class price-class--business">
					<input name="radio__name" id="radio3" type="radio" class="price-class__radio">
					<label for="radio3" class="price-class__label">
						<span class="price-class__text">Business Class</span>
					</label>
				</div>
			</div>
			<div class="col-12 col-md-3  calc__cell">
				<div class="calc__container">
					<div class="calc__title">
						PROXY-Канал**
					</div>
					<div class="calc__text">
						Динамический прокси
					</div>
				</div>
			</div>
			<div class="col-12 col-md-9  calc__cell ">
				<div class="form__range" >
					<div id="slider1" class="sliderrange" data-min='2' data-max='15'>
						<div id="custom-handle1" class="ui-slider-handle"></div>

					</div>
				</div>

			</div>
			<div class="col-12 col-md-3  calc__cell">
				<div class="calc__container">
					<div class="calc__title">
						Операторы
					</div>
					<div class="calc__text">
						OCC
					</div>
				</div>
			</div>
			<div class="col-12 col-md-9  calc__cell">
				<div class="checkbox-list">
					<div class="checkbox-list__item">
						<div class="checkbox">
							<input id="check1" type="checkbox" name="check" value="check1">
							<label for="check1">МТС</label>
						</div>
					</div>
					<div class="checkbox-list__item">
						<div class="checkbox">
							<input id="check2" type="checkbox" name="check" value="check2" checked>
							<label for="check2">Билайн</label>
						</div>
					</div>
					<div class="checkbox-list__item">
						<div class="checkbox">
							<input id="check3" type="checkbox" name="check" value="check3">
							<label for="check3">Мегафон</label>
						</div>
					</div>
					<div class="checkbox-list__item">
						<div class="checkbox">
							<input id="check4" type="checkbox" name="check" value="check4">
							<label for="check4">Теле2</label>
						</div>
					</div>
					<div class="checkbox-list__item">
						<div class="checkbox">
							<input id="check5" type="checkbox" name="check" value="check5">
							<label for="check5">Rostelecom</label>
						</div>
					</div>
				</div>

			</div>
			<div class="col-12 col-md-3  calc__cell">
				<div class="calc__container">
					<div class="calc__title">
						Гео
					</div>
					<div class="calc__text">
						Города РФ
					</div>
				</div>
			</div>
			<div class="col-12 col-md-9  calc__cell">
				<div class="checkbox-list">
					<div class="checkbox-list__item">
						<div class="checkbox">
							<input id="check6" type="checkbox" name="check" value="check6">
							<label for="check6">Москва</label>
						</div>
					</div>
					<div class="checkbox-list__item">
						<div class="checkbox">
							<input id="check7" type="checkbox" name="check" value="check7">
							<label for="check7">Санкт-Петербург</label>
						</div>
					</div>
					<div class="checkbox-list__item">
						<div class="checkbox">
							<input id="check8" type="checkbox" name="check" value="check8" checked>
							<label for="check8">Самара</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3  calc__cell">
				<div class="calc__container">
					<div class="calc__title">
						IPv4-адреса
					</div>
					<div class="calc__text">
						в сутки
					</div>
				</div>
			</div>
			<div class="col-12 col-md-9  calc__cell calc__flex">
				<div class="calc__container">
					<div class="calc__title">
						9,360
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3  calc__cell">
				<div class="calc__container">
					<div class="calc__title">
						Частота смены IP-адреса
					</div>
				</div>
			</div>
			<div class="col-12 col-md-9  calc__cell">
				<div class="checkbox-list">
					<div class="checkbox-list__item">
						<div class="checkbox">
							<input id="check9" type="checkbox" name="check" value="check9">
							<label for="check9">2 минуты</label>
						</div>
					</div>
					<div class="checkbox-list__item">
						<div class="checkbox">
							<input id="check10" type="checkbox" name="check" value="check10" checked>
							<label for="check10">10 минут</label>

						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3  calc__cell">
				<div class="calc__container">
					<div class="calc__title">
						Кол-во параллельных TCP соединений через один PROXY-Канал
					</div>
				</div>
			</div>


			<div class="col-12 col-md-9  calc__cell">
				<div class="form__range" >
					<div id="slider2" class="sliderrange" data-min='30' data-max='100'>
						<div id="custom-handle2" class="ui-slider-handle"></div>

					</div>
				</div>
			</div>
			<div class="col-12 col-md-3  calc__cell">
				<div class="calc__container">
					<div class="calc__title calc__title--price">
						Стоимость

					</div>
				</div>
			</div>
			<div class="col-12 col-md-3  calc__cell">
				<div class="calc__container">
					<div class="calc__title calc__title--price">
						$ <span id="price1">79.80</span>
					</div>
					<div class="calc__text">
						При оплате за 2 недели
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3  calc__cell">
				<div class="calc__container">
					<div class="calc__title calc__title--price">
						$ <span id="price2">122.78</span>/мес.
					</div>
					<div class="calc__text">
						При оплате за месяц
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3  calc__cell active">
				<div class="calc__container">
					<div class="calc__title calc__title--price">
						$ <span id="price3">110.50</span>/мес.
					</div>
					<div class="calc__text">
						При оплате за квартал
					</div>
				</div>
			</div>

		</div>
		<div class="row">
			<a href="#" class="offer__button offer__button--calc btn">Попробуйте бесплатно!</a>
		</div>
	</div>
</section>