<section class="section section--footer">
	<div class="container">
		<div class="row justify-content-between text-left">
			<div class="col-12 col-md-3">
				<img src="/img/logo2.svg" alt="logo" class="footer__logo">
				<ul class="footer__list">
					<li>
						<a class="footer__link text" href="#">Карта сайта</a>
						<br>
						<br>
					</li>
					
					<li class="line-mini">Copyright © 2017 owlBay.<br> All rights reserved.</li>

					<li>
						<a class="footer__link text" href="#">Политика конфиденциальности</a>
					</li>
				</ul>
			</div>
			<div class="col-12 col-md-3">
				<div class="section__title h2">Сервисы</div>
				<ul class="footer__list text">
					<li><a class="footer__link text" href="/offer.html">Мобильные прокси (4G / LTE)</a></li>
					<li><a class="footer__link text" href="/offer02.html">Прокси листы</a></li>
					<li><a class="footer__link text" href="/offer03.html">IPv4\IPv6 прокси  </a></li>
					<li><a class="footer__link text" href="/offer04.html">VPN</a></li>
					<li><a class="footer__link text" href="/offer05.html">Рабочее место SMM</a></li>
				</ul>
			</div>
			<div class="col-12 col-md-3">
				<div class="section__title h2">Навигация</div>
				<ul class="footer__list text">
					<li><a class="footer__link text" href="#">Цены</a></li>
					<li><a class="footer__link text" href="#">Как это работает</a></li>
					<li><a class="footer__link text" href="#">Поддержка</a></li>
					<li><a class="footer__link text" href="#">О нас</a></li>
					<li><a class="footer__link text" href="#">Карта сайта</a></li>
				</ul>
			</div>
			<div class="col-12 col-md-3">
				<div class="section__title h2">Подпишитесь на новости</div>
				<div class="footer__subscribe">
					<div class="email-input">
						<input type="text" class="email-input__text" placeholder="E-mail">
						<input type="submit" class="email-input__submit" value=" ">
					</div>
					<ul class=" footer__list footer__list--mini footer__contacts">
						<li><a href="" class="footer__link text text__mobile">+7 (845) 459-78-66</a></li>
						<li><a href="" class="footer__link text text__mobile">+7 (845) 213-45-73</a></li>
						<li><a href="" class="footer__link text text__email">info@compname.com</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>