<div class="section section--first">
	<div id="particles-js"></div>
	<div class="main-slider">
		<div class="main-slider__slide">
			<div class="container">
				<div class="main-slider__title h1">Мобильные прокси<br>без блокировки</div>
				<div class="main-slider__text">Продолжай работать, пока мы берем<br>всю рутину на себя!</div>
				<a href="#" class="main-slider__button btn">Попробуйте бесплатно!</a>
			</div>
		</div>
		<div class="main-slider__slide">
			<div class="container">
				<div class="main-slider__title h1">Мобильные прокси<br>без блокировки</div>
				<div class="main-slider__text">Продолжай работать, пока мы берем<br>всю рутину на себя!</div>
				<a href="#" class="main-slider__button btn">Попробуйте бесплатно!</a>
			</div>
		</div>
	</div>
	<div class="main-slider__owl js-bird" style="background-image: url(/img/main-slider_owl2.png);"></div>
</div>
