<div class="top-panel">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4 col-lg-3 text-md-left">
				<a href="/index.html" class="logo">
					<img  class="logo__img" src="/img/logo.svg" alt="logo">
				</a>
			</div>
			<div class="d-none d-lg-block col-lg-9">
				<ul class="menu justify-content-between">
					<li class="menu__item menu__sub">
						<div class="menu__icon"></div>
						<a class="menu__link" >Сервисы</a>
						<ul class="menu__dropdown">
							<li class="menu__subitem"><a class="menu__link" href="/offer.html">Мобильные прокси (4G / LTE)</a></li>
							<li class="menu__subitem"><a class="menu__link" href="/offer02.html">Смарт прокси-листы IPv4</a></li>
							<li class="menu__subitem"><a class="menu__link" href="/offer03.html">IPv4 / IPv6 прокси</a></li>
							<li class="menu__subitem"><a class="menu__link" href="/offer04.html">VPN сервис</a></li>
							<li class="menu__subitem"><a class="menu__link" href="/offer05.html">Рабочее пространство SMM специалиста / VPS с прокси и антидетектом</a></li>
						</ul>
					</li>
					<li class="menu__item menu__sub">
						<div class="menu__icon"></div>
						<a class="menu__link" >Цены</a>
						<ul class="menu__dropdown">
							<li class="menu__subitem"><a class="menu__link" href="/offer06.html">Мобильные прокси (4G / LTE)</a></li>
							<li class="menu__subitem"><a class="menu__link" href="/offer07.html">Смарт прокси-листы IPv4</a></li>
							<li class="menu__subitem"><a class="menu__link" href="/offer08.html">IPv4 / IPv6 прокси</a></li>
							<li class="menu__subitem"><a class="menu__link" href="/offer09.html">VPN сервис</a></li>
							<li class="menu__subitem"><a class="menu__link" href="/offer10.html">Рабочее пространство SMM специалиста / VPS с прокси и антидетектом</a></li>
						</ul>
					</li>
					<li class="menu__item menu__sub">
						<div class="menu__icon"></div>
						<a class="menu__link" >Как это работает</a>
						<ul class="menu__dropdown">
							<li class="menu__subitem"><a class="menu__link" href="/about02.html">Текстовые Бекконект\ Динамические прокси</a></li>
							<li class="menu__subitem"><a class="menu__link" href="/about03.html">Мобильные прокси</a></li>
							<li class="menu__subitem"><a class="menu__link" href="/about04.html">Технологии проксирования</a></li>
						</ul>
					</li>
					<li class="menu__item menu__sub">
						<div class="menu__icon"></div>
						<a class="menu__link" >Поддержка</a>
						<ul class="menu__dropdown">
							<li class="menu__subitem"><a class="menu__link" href="/about05.html"> FAQ</a></li>
							<li class="menu__subitem"><a class="menu__link" href="/about06.html">Обратиться в ТП</a></li>
							<li class="menu__subitem"><a class="menu__link" href="/about07.html">SLA/Гарантии</a></li>
						</ul>
					</li>
					<li class="menu__item">
						<a class="menu__link" href="#">Блог</a>
					</li>
					<li class="menu__item menu__sub">
						<div class="menu__icon"></div>
						<a class="menu__link" >О нас</a>
						<ul class="menu__dropdown">
							<li class="menu__subitem"><a class="menu__link" href="/about08.html">Команда</a></li>
							<li class="menu__subitem"><a class="menu__link" href="/about09.html">Инвестиции</a></li>
							<li class="menu__subitem"><a class="menu__link" href="/about10.html">Политика</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-12 d-lg-none">
				<a href="javascript:void(0)" class="sandwich"  id="sandwich"></a>
			</div>
		</div>
	</div>
</div>

<nav class="sandwich-menu">	
	<ul class="menu">
		<li class="menu__item sandwich-down">
			<a class="menu__link menu__sub" >Сервисы</a>
			<div class="menu__icon"></div>
			<ul class="drop-down-sandwich-menu">
				<li class="menu__subitem"><a class="menu__link" href="/offer.html">Мобильные прокси (4G / LTE)</a></li>
				<li class="menu__subitem"><a class="menu__link" href="/offer02.html">Смарт прокси-листы IPv4</a></li>
				<li class="menu__subitem"><a class="menu__link" href="/offer03.html">IPv4 / IPv6 прокси</a></li>
				<li class="menu__subitem"><a class="menu__link" href="/offer04.html">VPN сервис</a></li>
				<li class="menu__subitem"><a class="menu__link" href="/offer05.html">Рабочее пространство SMM специалиста / VPS с прокси и антидетектом</a></li>
			</ul>
		</li>
		<li class="menu__item sandwich-down">
			<a  class="menu__link menu__sub">Цены</a>
			<div class="menu__icon"></div>
			<ul class="drop-down-sandwich-menu">
				<li class="menu__subitem"><a class="menu__link" href="/offer06.html">Мобильные прокси (4G / LTE)</a></li>
				<li class="menu__subitem"><a class="menu__link" href="/offer07.html">Смарт прокси-листы IPv4</a></li>
				<li class="menu__subitem"><a class="menu__link" href="/offer08.html">IPv4 / IPv6 прокси</a></li>
				<li class="menu__subitem"><a class="menu__link" href="/offer09.html">VPN сервис</a></li>
				<li class="menu__subitem"><a class="menu__link" href="/offer10.html">Рабочее пространство SMM специалиста / VPS с прокси и антидетектом</a></li>
			</ul>
		</li>
		<li class="menu__item sandwich-down">
			<a class="menu__link menu__sub">Как это работает</a>
			<div class="menu__icon"></div>
			<ul class="drop-down-sandwich-menu">
				<li class="menu__subitem"><a class="menu__link" href="/about02.html">текстовые Бекконект\ Динамические прокси</a></li>
				<li class="menu__subitem"><a class="menu__link" href="/about03.html">Мобильные прокси</a></li>
				<li class="menu__subitem"><a class="menu__link" href="/about04.html">Технологии проксирования</a></li>
			</ul>
		</li>
		<li class="menu__item sandwich-down">
			<a class="menu__link menu__sub">Поддержка</a>
			<div class="menu__icon"></div>
			<ul class="drop-down-sandwich-menu">
				<li class="menu__subitem"><a class="menu__link" href="/about05.html"> FAQ</a></li>
				<li class="menu__subitem"><a class="menu__link" href="/about06.html">Обратиться в ТП</a></li>
				<li class="menu__subitem"><a class="menu__link" href="/about07.html">SLA/Гарантии</a></li>
			</ul>
		</li>
		<li class="menu__item"><a href="#" class="menu__link non-after">Блог</a></li>
		<li class="menu__item sandwich-down">
			<a class="menu__link menu__sub">О нас</a>
			<div class="menu__icon"></div>
			<ul class="drop-down-sandwich-menu">
				<li class="menu__subitem"><a class="menu__link" href="/about08.html">Команда</a></li>
				<li class="menu__subitem"><a class="menu__link" href="/about09.html">Инвестиции</a></li>
				<li class="menu__subitem"><a class="menu__link" href="/about10.html">Политика</a></li>
			</ul>
		</li>
	</ul>
</nav>