//= partials/head.html
//= partials/navigation.html
//= partials/main-slider2.html

<section class="section section--mini-padding-top">
	<div class="container">
		
		
		<div class="row">
			<div class="col-12">
				<p class="breadcrumbs"><a href="#" class="breadcrumbs__link">Главная </a> / <a href="#" class="breadcrumbs__link breadcrumbs__link--position">O нас</a></p>	
			</div>

			<div class="row row-range justify-content-between">
				<div class="col-12 col-md-9 col-lg-8">
					<div class="section__title h2 text-left">Предложение</div>
					<div class="section__brief">
					Vestibulum pellentesque fringilla faucibus. Curabitur eget imperdiet turpis. Nam lorem quam, imperdiet eu elit vel.</div>

					<div class="section__text ">
						Integer sollicitudin massa vitae scelerisque ultrices. Mauris non ipsum sed nibh maximus gravida vitae id libero. Mauris laoreet congue erat id vulputate. Mauris felis risus, pretium id nibh aliquet, mattis placerat ex. Nunc tristique massa non ex ornare, sit amet bibendum tellus tristique. Nulla facilisi. Sed facilisis ut felis quis semper. Sed ut nisl sed odio vestibulum viverra quis ut ex. Aliquam vehicula nisi quis lectus rhoncus mollis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris hendrerit felis dolor, nec luctus dolor laoreet nec. Donec malesuada massa pretium, dignissim ante eget, placerat orci. Vestibulum scelerisque lobortis ante, sed aliquam diam mattis sit amet. Cras eget consectetur neque, sit amet tincidunt elit.
						<br><br>
						Cras nec commodo arcu. Maecenas malesuada non odio quis porttitor. Quisque dictum egestas libero, ac viverra magna viverra quis. Pellentesque convallis pulvinar arcu, ac aliquet enim dictum sit amet. Donec et dui turpis. Ut viverra blandit convallis. Curabitur a est rutrum, scelerisque dui fringilla, euismod dolor. Praesent libero orci, dapibus eget tellus nec, dictum aliquet urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam fringilla fringilla tempus. Etiam volutpat mollis ligula et facilisis. Fusce a feugiat magna. Sed ut orci in purus auctor rutrum. Praesent ultricies mattis risus eget dapibus. Suspendisse ullamcorper elementum elit posuere malesuada. Etiam vel dui vitae mi eleifend elementum ullamcorper ac ipsum.

					</div>
					<div class="persons-list">
						<div class="row row-range ">
							<div class="col-12 col-md-4 persons-list__item">
								<div class="person">
									<img src="" alt="" class="person__image">
									<h1 class="person__name">Имя Фамилия</h1>
									<h2 class="person__occupation">Должность</h2>
									<p class="person__text text">Integer sollicitudin massa vitae scelerisque ultrices. Mauris non ipsum sed nibh maximus gravida vitae id libero. Mauris laoreet congue erat id vulputate. 
									</p>
								</div>
							</div>
							<div class="col-12 col-md-4 persons-list__item">
								<div class="person">
									<img src="" alt="" class="person__image">
									<h1 class="person__name">Имя Фамилия</h1>
									<h2 class="person__occupation">Должность</h2>
									<p class="person__text text">Integer sollicitudin massa vitae scelerisque ultrices. Mauris non ipsum sed nibh maximus gravida vitae id libero. Mauris laoreet congue erat id vulputate. 
									</p>
								</div>
							</div>
							<div class="col-12 col-md-4 persons-list__item">
								<div class="person">
									<img src="" alt="" class="person__image">
									<h1 class="person__name">Имя Фамилия</h1>
									<h2 class="person__occupation">Должность</h2>
									<p class="person__text">Integer sollicitudin massa vitae scelerisque ultrices. Mauris non ipsum sed nibh maximus gravida vitae id libero. Mauris laoreet congue erat id vulputate. 
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="section__text">
						Aenean maximus lobortis venenatis. Curabitur velit felis, dapibus eu auctor id, porta eget purus. Quisque ut est imperdiet, aliquet sapien a, aliquet nunc. Cras lacinia elementum dapibus. Pellentesque facilisis iaculis urna, sit amet malesuada erat volutpat quis. Aenean consequat tempus metus vitae varius. In venenatis neque quis enim viverra imperdiet. Phasellus feugiat erat ac mauris tincidunt dictum. Donec in pulvinar sapien. Vestibulum a ultrices nisi, sit amet posuere erat. Pellentesque aliquet cursus felis, suscipit luctus velit vestibulum at. Aenean tortor ipsum, eleifend at ex quis, malesuada facilisis lacus. Ut arcu lacus, malesuada ac posuere et, volutpat nec est.
						<br><br>
						Aenean ac quam dui. Vestibulum a efficitur neque. Vestibulum ac mauris felis. Vestibulum interdum purus tortor, id hendrerit magna congue a. Donec tempus felis vel nibh bibendum, in congue lacus tempus. Duis condimentum pharetra elit ut aliquet. Morbi accumsan lacus et tincidunt hendrerit. Sed nec elementum felis. Nunc cursus purus ac tincidunt convallis. In hac habitasse platea dictumst.
						<br><br>
						Ut ac metus ac arcu tempus lobortis et ut libero. Vivamus eget elit nec quam tristique fringilla. Proin lacinia neque at augue vulputate, vitae pellentesque odio egestas. Vivamus scelerisque lacus nec gravida maximus. Morbi quis dolor non purus rhoncus ornare. Aenean et euismod tellus, nec molestie magna. Quisque non ligula nec ipsum consectetur rhoncus quis sit amet eros. Duis interdum leo sit amet urna vehicula, nec accumsan nibh pulvinar. Etiam ut nisi dui. Quisque sodales ante eros, non efficitur dolor luctus vel. Donec ut molestie nisl, et commodo turpis. Curabitur in faucibus turpis, non feugiat dui.
					</div>


				</div>
				<aside class="col-12 col-md-3">
					//= partials/aside.html
				</aside>
			</div>
		</div>
		
	</div>
</section>

//= partials/footer