//= partials/head.html
//= partials/navigation.html
//= partials/main-slider.html

<section class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-6 text-center">
				<div class="section__title h2">Предложение</div>
				<div class="section__brief">
				Vestibulum pellentesque fringilla faucibus. Curabitur eget imperdiet turpis. Nam lorem quam, imperdiet eu elit vel.</div>
			</div>
		</div>
		<div class="row row-range offer-home">
			<div class="col-12 col-md-6 col-xl-4">
				<div class="offer">
					<div class="offer__image" style="background-image: url(/img/offer-1.png)"></div>
					<div class="offer__title">Мобильные прокси (4G / LTE)</div>
					<div class="offer__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto obcaecati odio sint ut id temporibus reprehenderit, adipisci itaque nemo. Laboriosam nisi, qui consectetur possimus dicta accusamus dolores saepe illum tempore.</div>
					<a href="/offer.html" class="offer__button btn">Попробуйте бесплатно!</a>
				</div>
			</div>
			<div class="col-12 col-md-6 col-xl-4">
				<div class="offer">
					<div class="offer__image" style="background-image: url(/img/offer-2.png)"></div>
					<div class="offer__title">Смарт прокси-листы IPv4</div>
					<div class="offer__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed dignissimos nemo molestias sunt sit obcaecati enim explicabo, itaque dicta? Doloremque ipsam enim fuga esse cupiditate aperiam earum architecto, possimus voluptates!</div>
					<a href="/offer02.html" class="offer__button btn">Попробуйте бесплатно!</a>
				</div>
			</div>
			<div class="col-12 col-md-6 col-xl-4">
				<div class="offer">
					<div class="offer__image" style="background-image: url(/img/offer-3.png)"></div>
					<div class="offer__title">IPv4 / IPv6 прокси</div>
					<div class="offer__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque vero velit temporibus dolorem enim debitis repellat maiores fugit ratione omnis, est natus ipsam, ad explicabo blanditiis distinctio adipisci, quaerat cupiditate.</div>
					<a href="/offer03.html" class="offer__button btn">Попробуйте бесплатно!</a>
				</div>
			</div>
			<div class="col-12 col-md-6 col-xl-4">
				<div class="offer">
					<div class="offer__image" style="background-image: url(/img/offer-4.png)"></div>
					<div class="offer__title">VPN сервис</div>
					<div class="offer__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto obcaecati odio sint ut id temporibus reprehenderit, adipisci itaque nemo. Laboriosam nisi, qui consectetur possimus dicta accusamus dolores saepe illum tempore.</div>
					<a href="/offer04.html" class="offer__button btn">Попробуйте бесплатно!</a>
				</div>
			</div>
			<div class="col-12 col-md-6 col-xl-4">
				<div class="offer">
					<div class="offer__image" style="background-image: url(/img/offer-5.png)"></div>
					<div class="offer__title">Рабочее пространство SMM специалиста / VPS с прокси и антидетектом</div>
					<div class="offer__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed dignissimos nemo molestias sunt sit obcaecati enim explicabo, itaque dicta? Doloremque ipsam enim fuga esse cupiditate aperiam earum architecto, possimus voluptates!</div>
					<a href="/offer05.html" class="offer__button btn">Попробуйте бесплатно!</a>
				</div>
			</div>
			<div class="col-12 col-md-6 col-xl-4">
				<div class="offer offer--special">
					<div class="offer__image" style="background-image: url(/img/offer-6.png)"></div>
					<div class="offer__title">Special offer</div>
					<div class="offer__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque vero velit temporibus dolorem enim debitis repellat maiores fugit ratione omnis, est natus ipsam, ad explicabo blanditiis distinctio adipisci, quaerat cupiditate.</div>
					<a href="/about.html" class="offer__button btn btn--offer">Попробуйте бесплатно!</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section section--blue">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-6 text-center">
				<div class="section__title h2">Для кого</div>
				<div class="section__brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum cupiditate perferendis eum a, voluptate esse dolorum amet eligendi labore. Iure iste maiores, dicta illo in nobis ratione optio dolores blanditiis!</div>
			</div>
		</div>
		<div class="row justify-content-center row-range">
			<div class="col-12 col-md-6 col-lg-4">
				<div class="forwho">
					<div class="forwho__image" style="background-image: url(/img/forwho-1.png)"></div>
					<div class="forwho__title">Регистраторам аккаунтов</div>
					<div class="forwho__text">Регистрируйте аккаунты как типичный пользователь мобильной сети!</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<div class="forwho">
					<div class="forwho__image" style="background-image: url(/img/forwho-2.png)"></div>
					<div class="forwho__title">Регистрируйте аккаунты как типичный пользователь мобильной сети!</div>
					<div class="forwho__text">Ставьте лайки и делайте репосты в огромных количествах, как целое сообщество пользователей!</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<div class="forwho">
					<div class="forwho__image" style="background-image: url(/img/forwho-3.png)"></div>
					<div class="forwho__title">Арбитражникам</div>
					<div class="forwho__text">Рассылайте собщения всех видов по всем доступным каналам (мессенджеры, соц. сети, почта), все уже делают это!</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<div class="forwho">
					<div class="forwho__image" style="background-image: url(/img/forwho-4.png)"></div>
					<div class="forwho__title">Маркетологам</div>
					<div class="forwho__text">Нужно парсить результаты поиска, постить контент или есть риск блокировки? Продолжайте спокойно заниматься своей работой, не беспокоясь о блокировках.</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<div class="forwho">
					<div class="forwho__image" style="background-image: url(/img/forwho-5.png)"></div>
					<div class="forwho__title">Разработчикам ПО</div>
					<div class="forwho__text">Используете автоматизированную раскрутку, SEO или же частный софт? Мы поможем сохранить Вашу анонимность</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section section--pb">
	<div class="section__bird js-bird"></div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-8 text-center">
				<div class="section__title h2">Для чего</div>
				<div class="section__brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum cupiditate perferendis eum a, voluptate esse dolorum amet eligendi labore. Iure iste maiores, dicta illo in nobis ratione optio dolores blanditiis!</div>
				<div class="row row-range justify-content-between">
					<div class="col-12 col-lg-3">
						<div class="forwho">
							<div class="forwho__image" style="background-image: url(/img/forwhat-1.png)"></div>
							<div class="forwho__title">Сбор сравнительной информации</div>
						</div>
					</div>
					<div class="col-12 col-lg-3">
						<div class="forwho">
							<div class="forwho__image" style="background-image: url(/img/forwhat-2.png)"></div>
							<div class="forwho__title">Сбор сравнительной информации</div>
						</div>
					</div>
					<div class="col-12 col-lg-3">
						<div class="forwho">
							<div class="forwho__image" style="background-image: url(/img/forwhat-3.png)"></div>
							<div class="forwho__title">Поиск талантов</div>
						</div>
					</div>
					<div class="w-100"></div>
					<div class="col-12 col-lg-3">
						<div class="forwho">
							<div class="forwho__image" style="background-image: url(/img/forwhat-4.png)"></div>
							<div class="forwho__title">Защита бренда</div>
						</div>
					</div>
					<div class="col-12 col-lg-3">
						<div class="forwho">
							<div class="forwho__image" style="background-image: url(/img/forwhat-5.png)"></div>
							<div class="forwho__title">Само-тестирование</div>
						</div>
					</div>
					<div class="col-12 col-lg-3">
						<div class="forwho">
							<div class="forwho__image" style="background-image: url(/img/forwhat-6.png)"></div>
							<div class="forwho__title">Проверка рекламных объявлений</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section section--gray">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-6">
				<div class="section__title h2">Клиенты и отзывы</div>
				<div class="section__brief section__brief--large-margin text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolores praesentium architecto reiciendis quos rem eius nihil exercitationem esse ipsa debitis at vel veniam, consectetur perferendis, eligendi asperiores quasi possimus?</div>
			</div>
		</div>
		<div class="responds">
			<div class="responds__bird js-bird"></div>
			<div class="responds__slider">
				<div class="responds__item">
					<div class="respond">
						<div class="respond__image" style="background-image: url(/img/resp1.jpg)"></div>
						<div class="respond__name">Ольга Елинскас</div>
						<div class="respond__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est excepturi eaque eum hic aliquam maiores temporibus, eos veritatis voluptates, illo ducimus, magnam suscipit expedita nesciunt ipsum odio perspiciatis facilis illum.</div>
						<div class="respond__products">Название купленных прокси</div>
					</div>
				</div>
				<div class="responds__item">
					<div class="respond">
						<div class="respond__image" style="background-image: url(/img/resp2.jpg)"></div>
						<div class="respond__name">Андрей Прохоров</div>
						<div class="respond__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat nam cum reprehenderit. Alias suscipit eaque magnam itaque ut velit aspernatur atque, at incidunt nobis accusantium qui excepturi doloribus, porro veritatis!</div>
						<div class="respond__products">Название купленных прокси</div>
					</div>
				</div>
				<div class="responds__item">
					<div class="respond">
						<div class="respond__image" style="background-image: url(/img/resp3.jpg)"></div>
						<div class="respond__name">Василий Булкин</div>
						<div class="respond__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum accusamus porro quam dicta omnis, adipisci ipsam unde. Harum velit maxime quis deserunt nihil, ea possimus quos eligendi, tenetur porro at.</div>
						<div class="respond__products">Название купленных прокси</div>
					</div>
				</div>
				<div class="responds__item">
					<div class="respond">
						<div class="respond__image" style="background-image: url(/img/resp2.jpg)"></div>
						<div class="respond__name">Андрей Прохоров</div>
						<div class="respond__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat nam cum reprehenderit. Alias suscipit eaque magnam itaque ut velit aspernatur atque, at incidunt nobis accusantium qui excepturi doloribus, porro veritatis!</div>
						<div class="respond__products">Название купленных прокси</div>
					</div>
				</div>
			</div>
			<div class="responds__count"><span id="current">1</span>&nbsp;/&nbsp;<span id="count">12</span></div>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-6 text-center">
				<div class="section__title h2">Блог</div>
				<div class="section__brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum cupiditate perferendis eum a, voluptate esse dolorum amet eligendi labore. Iure iste maiores, dicta illo in nobis ratione optio dolores blanditiis!</div>
			</div>
		</div>
		<div class="blog-list">
			<div class="blog-list__bird js-bird"></div>
			<div class="blog-list__slider">
				<div class="blog-list__item">
					<div class="blog ">
						<div class="blog__image" style="background-image: url(/img/post1.jpg)"></div>
						<div class="blog__title">Nunc tincidunt</div>
						<div class="blog__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum cupiditate perferendis eum a, voluptate esse dolorum am</div>
						<a href="#" class="blog__button">Читать</a>
					</div>
				</div>
				<div class="blog-list__item">
					<div class="blog">
						<div class="blog__image" style="background-image: url(/img/post2.jpg)"></div>
						<div class="blog__title">Praesent fermentum viverra</div>
						<div class="blog__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum cupiditate perferendis eum a, voluptate esse dolorum am</div>
						<a href="#" class="blog__button">Читать</a>
					</div>
				</div>
				<div class="blog-list__item">
					<div class="blog">
						<div class="blog__image" style="background-image: url(/img/post3.jpg)"></div>
						<div class="blog__title">Phasellus sit amet</div>
						<div class="blog__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum cupiditate perferendis eum a, voluptate esse dolorum am</div>
						<a href="#" class="blog__button">Читать</a>
					</div>
				</div>
				<div class="blog-list__item ">
					<div class="blog ">
						<div class="blog__image" style="background-image: url(/img/post2.jpg)"></div>
						<div class="blog__title">Praesent fermentum viverra</div>
						<div class="blog__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum cupiditate perferendis eum a, voluptate esse dolorum am</div>
						<a href="#" class="blog__button">Читать</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


//= partials/footer.html

