//= partials/head.html
//= partials/navigation.html
//= partials/main-slider.html

<section class="section section--mini-padding-top section--none-padding-bottom">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<p class="breadcrumbs"><a href="/index.html" class="breadcrumbs__link">Главная </a> / <a href="/offer.html" class="breadcrumbs__link breadcrumbs__link--position">Оффер #1</a></p>	
			</div>
			<div class="row row-range justify-content-between">
				<div class="col-12 col-lg-6 text-center offer__photo" style="background-image: url(/img/ipv6.svg); background-size: cover;">
				</div>
				<div class="col-12 col-lg-6 offer__header">
					<div class="offer__header__h2">4G/LTE прокси — решение, которое только набирает обороты</div>
					<div class="offer__header__text">Integer sollicitudin massa vitae scelerisque ultrices. Mauris non ipsum sed nibh maximus gravida vitae id libero. Mauris laoreet congue erat id vulputate. Mauris felis risus, pretium id nibh aliquet, mattis placerat ex. Nunc tristique massa non ex ornare, sit amet bibendum tellus tristique. 
						<br><br>
					Aliquam vehicula nisi quis lectus rhoncus mollis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris hendrerit felis dolor, nec luctus dolor laoreet nec. </div>
					<div class="row justify-content-center offer__header__button">
						<a href="#" class="offer__button btn">Попробуйте бесплатно!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-6 text-center">
				<div class="section__title h2">Проблемы и решения</div>
				<div class="section__brief">
				Vestibulum pellentesque fringilla faucibus. Curabitur eget imperdiet turpis. Nam lorem quam, imperdiet eu elit vel.</div>
			</div>
		</div>
		<div class="row row-range">
			<div class="col-12 col-md-4 ">
				<div class="offer-item offer-item--1">
					<div class="offer-item__title">Проблема #1</div>
					<div class="offer-item__text">Quisque elementum, magna vel viverra ultricies, magna turpis pretium elit, quis elementum lacus lectus sit amet diam. Etiam faucibus luctus lectus.</div>
					<hr>
					<div class="offer-item__title">Решение</div>
					<div class="offer-item__text">Quisque elementum, magna vel viverra ultricies, magna turpis pretium elit, quis elementum lacus lectus sit amet diam. Etiam faucibus luctus lectus.</div>
				</div>
			</div>
			<div class="col-12 col-md-4 ">
				<div class="offer-item offer-item--2">
					<div class="offer-item__title">Проблема #2</div>
					<div class="offer-item__text">Quisque elementum, magna vel viverra ultricies, magna turpis pretium elit, quis elementum lacus lectus sit amet diam. Etiam faucibus luctus lectus.</div>
					<hr>
					<div class="offer-item__title">Решение</div>
					<div class="offer-item__text">Quisque elementum, magna vel viverra ultricies, magna turpis pretium elit, quis elementum lacus lectus sit amet diam. Etiam faucibus luctus lectus.</div>
				</div>
			</div>
			<div class="col-12 col-md-4 ">
				<div class="offer-item offer-item--3">
					<div class="offer-item__title">Проблема #3</div>
					<div class="offer-item__text">Quisque elementum, magna vel viverra ultricies, magna turpis pretium elit, quis elementum lacus lectus sit amet diam. Etiam faucibus luctus lectus.</div>
					<hr>
					<div class="offer-item__title">Решение</div>
					<div class="offer-item__text">Quisque elementum, magna vel viverra ultricies, magna turpis pretium elit, quis elementum lacus lectus sit amet diam. Etiam faucibus luctus lectus.</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section section--offer">
	<div class="container">
		<div class="row justify-content-center ">
			<div class="col-12 col-md-9 text-center">
				<div class="section__title h2">Pellentesque scelerisque orci </div>
				<div class="offer__section__text">Morbi metus turpis, hendrerit finibus nisl et, commodo volutpat nisi. Fusce risus enim, ultricies at dolor id, viverra blandit lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</div>
				<a href="#" class="offer__button btn">Попробовать бесплатно!</a>
			</div>
		</div>
	</div>
</section>

//= partials/calc.html
//= partials/footer.html